<h1>Search Results</h1>
<div class="container">
  <div class="row">
    <% count = 0 %>
    <% @search_results.each do |item| %>
      <% if (count % 3) == 0 && count != 0 %>
        </div> <!-- Close the previous row -->
        <div class="row"> <!-- Start a new row -->
      <% end %>
      <% count += 1 %>

      <div class="col-sm-4 mb-4">
        <div class="card">
            <%= image_tag item.main_image, class: "card-img-top", style: "height: 200px; object-fit: contain;", alt: item.name %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">category: <%= item.category %></p>
            <p class="card-text">Price: <%= item.price %></p>
            <%= button_to 'Add to Cart', line_items_path(:store_id => item.id), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div> <!-- Close the last row -->
</div> <!-- Close the container -->
